<script type="text/javascript">
function setupIntro(){
  Ember.View.create({templateName: 'quiz-intro'}).appendTo('.qIntro');
}
</script>
<script type="text/x-handlebars" data-template-name="quiz-intro">
<div>
  <pre>
  This is a practice app for the written BJCP exam. (yes, the one soon to be replaced)
  There are ten pages. You can navigate by clicking the numbers at the top or bottom.

  New questions are randomly drawn each time you visit and any progress will be lost if you leave.
  You will have the option to Show Answers at any time but you'll have to make your own assessments about how well you scored.

  Relax, Don't Worry, Have a Homebrew. Please enjoy!</pre>
</div>
<table class="table table-bordered table-striped">
  <tr>
    <td>{{pageLink myPage="1" raw="Q1"}}</td>
    <td>
      <ul>
        <li>List three primary purposes of the BJCP.</li>
        <li>Complete the grid with the seven principal BJCP Judge Ranks, excluding honorary ranks, and the requirements to earn them.</li>
        <li>15 True/False questions on Judging Process Ethics, taken from the Judge Procedures Manual.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>{{pageLink myPage="2" raw="Q2"}}</td>
    <td>
      Random Beer Styles
    </td>
  </tr>
  <tr>
    <td>{{pageLink myPage="3" raw="Q3"}}</td>
    <td>
      All-grain recipe
    </td>
  </tr>
  <tr>
    <td>{{pageLink myPage="4" raw="Q4"}}</td>
    <td>
      Random Beer Styles
    </td>
  </tr>
  <tr>
    <td>{{pageLink myPage="5" raw="Q5"}}</td>
    <td>
      Beer Characterics Troubleshooting
    </td>
  </tr>
  <tr>
    <td>{{pageLink myPage="6" raw="Q6"}}</td>
    <td>
      "Three Cities" Beer Styles
    </td>
  </tr>
  <tr>
    <td>{{pageLink myPage="7" raw="Q7"}}</td>
    <td>
      Ingredients
    </td>
  </tr>
  <tr>
    <td>{{pageLink myPage="8" raw="Q8"}}</td>
    <td>
      Random Beer Styles
    </td>
  </tr>
  <tr>
    <td>{{pageLink myPage="9" raw="Q9"}}</td>
    <td>
      Troubleshooting
    </td>
  </tr>
  <tr>
    <td>{{pageLink myPage="10" raw="Q10"}}</td>
    <td>
      Classic Example Scoresheet
    </td>
  </tr>
</table>
Random Beer Style Questions are:
differentiate beers, describe a family of beers, discuss flavor
and aroma characteristics, identify a set of beers based on a
common ingredient, technique or country
</script>
