<div>
  This is a mock exam of the written BJCP exam.<br/>
  There are ten pages.<br/>
  Have fun.
</div>
<table class="table table-bordered table-striped">
  <tr>
    <td><a href="?page=1">Q1</a></td>
    <td>
      <ul>
        <li>List three primary purposes of the BJCP.</li>
        <li>Complete the grid with the seven principal BJCP Judge Ranks, excluding honorary ranks, and the requirements to earn them.</li>
        <li>15 True/False questions on Judging Process Ethics, taken from the Judge Procedures Manual.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td><a href="?page=2">Q2</a></td>
    <td>
      Random Beer Styles
    </td>
  </tr>
  <tr>
    <td><a href="?page=3">Q3</a></td>
    <td>
      All-grain recipe
    </td>
  </tr>
  <tr>
    <td><a href="?page=4">Q4</a></td>
    <td>
      Random Beer Styles
    </td>
  </tr>
  <tr>
    <td><a href="?page=5">Q5</a></td>
    <td>
      Beer Characterics Troubleshooting
    </td>
  </tr>
  <tr>
    <td><a href="?page=6">Q6</a></td>
    <td>
      "Three Cities" Beer Styles
    </td>
  </tr>
  <tr>
    <td><a href="?page=7">Q7</a></td>
    <td>
      Ingredients
    </td>
  </tr>
  <tr>
    <td><a href="?page=8">Q8</a></td>
    <td>
      Random Beer Styles
    </td>
  </tr>
  <tr>
    <td><a href="?page=9">Q9</a></td>
    <td>
      Troubleshooting
    </td>
  </tr>
  <tr>
    <td><a href="?page=10">Q10</a></td>
    <td>
      Classic Example Scoresheet
    </td>
  </tr>
</table>
Random Beer Style Questions are:
differentiate beers, describe a family of beers, discuss flavor
and aroma characteristics, identify a set of beers based on a
common ingredient, technique or country
