<script type="text/x-handlebars" data-template-name="quiz-menu">
  {{#view Quiz.QuizLink templateName="random" tagName="span" contentBinding="this"}}
    <a class="quizLink" href="#">Random</a>
  {{/view}}
  {{#view Quiz.QuizLink templateName="code" tagName="span" contentBinding="this"}}
    <a class="quizLink" href="#">Style Code</a>
  {{/view}}
  {{#view Quiz.QuizLink templateName="aroma" tagName="span" contentBinding="this"}}
    <a class="quizLink" href="#">Aroma</a>
  {{/view}}
  {{#view Quiz.QuizLink templateName="appearance" tagName="span" contentBinding="this"}}
    <a class="quizLink" href="#">Appearance</a>
  {{/view}}
  {{#view Quiz.QuizLink templateName="flavor" tagName="span" contentBinding="this"}}
    <a class="quizLink" href="#">Flavor</a>
  {{/view}}
  {{#view Quiz.QuizLink templateName="mouthfeel" tagName="span" contentBinding="this"}}
    <a class="quizLink" href="#">Mouthfeel</a>
  {{/view}}
  {{#view Quiz.QuizLink templateName="example" tagName="span" contentBinding="this"}}
    <a class="quizLink" href="#">Example</a>
  {{/view}}
</script>
