<script type="text/javascript">
function setupPagination(){
  var paginationView = Ember.View.extend({templateName: 'pagination'});
  paginationView.create().appendTo('.paginationHeader');
  paginationView.create().appendTo('.paginationFooter');
};
</script>
<script type="text/x-handlebars" data-template-name="pagination">
<div class="pagination">
<table class="center">
  <tr>
    <td>
  <ul>
    {{navLink myPage="Intro"}}
    <% (1..10).each do |i| %>
      {{navLink myPage="<%= i %>"}}
    <% end %>
    {{navLink myPage="Next"}}
  </ul>
    </td>
  </tr>
  {{#if BJCP.SampleQuiz.showAnswerToggle}}
    <tr class="showHideAnswers">
      <td style="text-align:center">
    {{#if BJCP.SampleQuiz.showingAnswers}}
      {{#view BJCP.HideAnswers classBinding="btn" tagName="button"}}
        <i class="icon-remove-sign"></i> Hide Answers
      {{/view}}
      <table class="table-bordered" style="margin-bottom: 30px"><tr><td>
        Answers are taken from:
        </td></tr>
        <tr><td>
        <ul>
          <li><a href="http://www.bjcp.org/docs/BJCPExamForDummies.pdf" target="_blank">Al Boyce's The BJCP Exam for Dummies</a></li>
          <li><a href="http://www.bjcp.org/docs/mastering.pdf" target="_blank">Gordon Strong's Mastering the BJCP Exam</a></li>
          <li><a href="http://www.bjcp.org/study.php" target="_blank">The BJCP Study Guide</a></li>
        </ul>
      </em>
      </td></tr></table>
    {{else}}
      {{#view BJCP.ShowAnswers classBinding="btn" tagName="button"}}
        <i class="icon-ok-sign"></i> Show Answers
      {{/view}}
    {{/if}}
    </td></tr>
  {{/if}}
  </table>
</div>
</script>
