<script type="text/javascript">
jQuery(document).ready(function($){
  var paginationView = Ember.View.extend({templateName: 'pagination'});
  paginationView.create().appendTo('.paginationHeader');
  paginationView.create().appendTo('.paginationFooter');
});
</script>
<script type="text/x-handlebars" data-template-name="pagination">
<div class="pagination">
<table class="center">
  <tr>
    <td>
  <ul>
    {{navLink myPage="Intro"}}
    <% (1..10).each do |i| %>
      {{navLink myPage="<%= i %>"}}
    <% end %>
    {{navLink myPage="Next"}}
  </ul>
    </td>
  </tr>
  {{#if BJCP.SampleQuiz.showAnswerToggle}}
    <tr class="showHideAnswers">
      <td style="text-align:center">
    {{#if BJCP.SampleQuiz.showingAnswers}}
      {{#view BJCP.HideAnswers classBinding="btn" tagName="button"}}
        <i class="icon-remove-sign"></i> Hide Answers
      {{/view}}
    {{else}}
      {{#view BJCP.ShowAnswers classBinding="btn" tagName="button"}}
        <i class="icon-ok-sign"></i> Show Answers
      {{/view}}
    {{/if}}
    </td></tr>
  {{/if}}
  </table>
</div>
</script>
