<script type="text/x-handlebars" data-template-name="style-code-prompt">
  Style {{question.correctAnswer.style_number}} is:
  <br/>
  {{#if question.guessedCorrectly}}
    <span><font color="green">Correct!
      {{#view Quiz.QuizLink tagName="span" contentBinding="this"}}
        <a class="next" href="#">next question</a>
      {{/view}}
    </font></span>
  {{/if}}
  {{#if question.guessedIncorrectly}}
    <font color="red"> Sorry... "{{question.answerGuessed.style_name}}" is style '{{question.answerGuessed.style_number}}'.</font>
  {{/if}}
</script>
<script type="text/x-handlebars" data-template-name="style-aroma-prompt">
  "{{question.correctAnswer.aroma}}"
  <br/>
  This describes the aroma of which style?
  <br/>
  {{#if question.guessedCorrectly}}
    <span><font color="green">Correct!
      {{#view Quiz.QuizLink tagName="span" contentBinding="this"}}
        <a class="next" href="#">next question</a>
      {{/view}}
    </font></span>
  {{/if}}
  {{#if question.guessedIncorrectly}}
  <font color="red"> Sorry... "{{question.answerGuessed.style_name}}" has the aroma of:
    "{{question.answerGuessed.aroma}}"</font>
  {{/if}}
</script>
<script type="text/x-handlebars" data-template-name="style-appearance-prompt">
  "{{question.correctAnswer.appearance}}"
  <br/>
  This describes the appearance of which style?
  <br/>
  {{#if question.guessedCorrectly}}
    <span><font color="green">Correct!
      {{#view Quiz.QuizLink tagName="span" contentBinding="this"}}
        <a class="next" href="#">next question</a>
      {{/view}}
    </font></span>
  {{/if}}
  {{#if question.guessedIncorrectly}}
  <font color="red"> Sorry... "{{question.answerGuessed.style_name}}" has the appearance of:
    "{{question.answerGuessed.appearance}}"</font>
  {{/if}}
</script>
<script type="text/x-handlebars" data-template-name="style-flavor-prompt">
  "{{question.correctAnswer.flavor}}"
  <br/>
  This describes the flavor of which style?
  <br/>
  {{#if question.guessedCorrectly}}
    <span><font color="green">Correct!
      {{#view Quiz.QuizLink tagName="span" contentBinding="this"}}
        <a class="next" href="#">next question</a>
      {{/view}}
    </font></span>
  {{/if}}
  {{#if question.guessedIncorrectly}}
  <font color="red"> Sorry... "{{question.answerGuessed.style_name}}" has the flavor of:
    "{{question.answerGuessed.flavor}}"</font>
  {{/if}}
</script>
<script type="text/x-handlebars" data-template-name="style-mouthfeel-prompt">
  "{{question.correctAnswer.mouthfeel}}"
  <br/>
  This describes the mouthfeel of which style?
  <br/>
  {{#if question.guessedCorrectly}}
    <span><font color="green">Correct!
      {{#view Quiz.QuizLink tagName="span" contentBinding="this"}}
        <a class="next" href="#">next question</a>
      {{/view}}
    </font></span>
  {{/if}}
  {{#if question.guessedIncorrectly}}
  <font color="red"> Sorry... "{{question.answerGuessed.style_name}}" has the mouthfeel of:
    "{{question.answerGuessed.mouthfeel}}"</font>
  {{/if}}
</script>
<script type="text/x-handlebars" data-template-name="style-example-prompt">
  The following example is of which style? {{question.correctAnswer.example}}
  <br/>
  {{#if question.guessedCorrectly}}
    <span><font color="green">Correct!
      {{#view Quiz.QuizLink tagName="span" contentBinding="this"}}
        <a class="next" href="#">next question</a>
      {{/view}}
    </font></span>
  {{/if}}
  {{#if question.guessedIncorrectly}}
    <font color="red"> Sorry... "{{question.answerGuessed.style_name}}" is not correct.</font>
  {{/if}}
</script>


<script type="text/x-handlebars" data-template-name="???">
  {{#questions}}
    <div class='question'>
      {{questionText}}
      <span class='status'></span>
      <form class='fillBlankForm'><input name='example' type='text'/></form>
    </div>
  {{/questions}}
</script>
