<script type="text/javascript">
jQuery(document).ready(function($){
  BJCP.Questions = Ember.Object.create({
    purposes: [],
    questions: [],
    judgeLevels: [],
    numberCorrect: function(){
      return this.get('questions').filter(function(item, index, self){
        return item.get('correct');
      }).length;
    }.property(),
    points: function(){
      var correct = parseInt(this.get('numberCorrect') || 0);
      var points = parseInt(correct / 3);
      var fractionPoints = correct % 3;
      var points = (points ? String(points) : '');
      if(fractionPoints === 0){
        fractionPoints = '';
      }else{
        fractionPoints = ' '+fractionPoints+'/3';
      }
      return points + fractionPoints;
    }.property('numberCorrect'),
    setup: function(){
      var self = this;
      $.ajax({url: '/judge_procedure/sample', data: {limit: 15}, success: function(data){
        self.set('questions', _.map(data, function(x){
          x['isTrue'] = (x.answer === 'T');
          x['trueAlign'] = (x.answer === 'T' ? 'left' : 'right');
          return Ember.Object.create(x);
        }));
      }});
      $.ajax({url: '/judge_levels/all_levels', data: {}, success: function(data){
        self.set('judgeLevels', _.map(data, function(x){
          x['trueAlign'] = (x.gm_required ? 'left' : 'right');
          return Ember.Object.create(x);
        }));
      }});
      var purposes = [{number: 1, purpose: 'Promote Beer Literacy'},
                      {number: 2, purpose: 'Promote the Appreciation of Real Beer'},
                      {number: 3, purpose: 'Recognize Beer Tasting and Evaluation Skill'}];
      self.set('purposes', _.map(purposes, function(x){
        return Ember.Object.create(x);
      }));
    }
  });
  BJCP.Questions.setup();

  Ember.View.create({templateName: 'purpose-quiz'}).appendTo('.q1');
  Ember.View.create({templateName: 'judge-levels-quiz'}).appendTo('.q1');
  Ember.View.create({templateName: 'tf-quiz'}).appendTo('.q1');

//setTimeout(function(){$('.pageOption[data-page="1"]:first').click();}, 1000);
});
</script>
<script type="text/x-handlebars" data-template-name="purpose-quiz">
  List three primary purposes of the BJCP as listed on
  <a href="http://www.bjcp.org" target="_blank">http://www.bjcp.org</a>
  and in the <a href="http://www.bjcp.org/study.php" target="_blank">
    BJCP Study Guide</a>.
<table>
  {{#each BJCP.Questions.purposes}}
  <tr><td>{{number}}) <input class="purpose purpose{{number}}" type="text"/>
    {{answer tagName="span" val="purpose"}}
  </td></tr>
  {{/each}}
</table>
</script>

<script type="text/x-handlebars" data-template-name="judge-levels-quiz">
<table>
  <tr>
    <th>BJCP Level</th>
    <th style="width: 82px">Minimum Exam Score</th>
    <th style="width: 82px">Total Experience Points</th>
    <th style="width: 82px">Minimum Judging Points</th>
    <th style="width: 82px">GM Service Requirements</th>
  </tr>
  {{#each BJCP.Questions.judgeLevels}}
  <tr>
    <td><input type="text" style="width: 150px"/></td>
    <td><input type="text" style="width: 80px"/></td>
    <td><input type="text" style="width: 80px"/></td>
    <td><input type="text" style="width: 80px"/></td>
    <td nowrap>
      <ul class="nav nav-pills" style="display: inline">
        <li class="point">{{#view BJCP.PillRadio tagName="a" attrHref="#"}}Yes{{/view}}</li>
        <li class="point">{{#view BJCP.PillRadio tagName="a" attrHref="#"}}No{{/view}}</li>
      </ul>
    </td>
  </tr>
  {{#answer tagName="tr"}}
    <td>{{level}}</td>
    <td>{{min_score}}</td>
    <td>{{min_points}}</td>
    <td>{{judge_points}}</td>
    <td {{bindAttr class="trueAlign"}}>
      {{#if gm_required}} Yes {{else}} No {{/if}}</div>
    </td>
  {{/answer}}
  {{/each}}
</table>
</script>
<script type="text/x-handlebars" data-template-name="tf-quiz">
<div>
<table>
    {{#each BJCP.Questions.questions}}
  <tr>
    <td nowrap>
      <ul class="nav nav-pills" style="display: inline">
        <li class="point">{{#view BJCP.PillRadio tagName="a" attrHref="#"}}True{{/view}}</li>
        <li class="point">{{#view BJCP.PillRadio tagName="a" attrHref="#"}}False{{/view}}</li>
      </ul>
    </td>
    <td>
      <span class='questionText'>{{question}}</span>
    </td>
  </tr>
  {{#answer}}
  <tr>
    <td {{bindAttr class="trueAlign"}}>
      {{#answer}}{{#if isTrue}} True {{else}} False {{/if}}{{/answer}}
    </td>
  </tr>
  {{/answer}}
    {{/each}}
</table>
</div>
</script>
