<table>
  <tr>
    <td>
<table class="table-bordered">
  <tr>
    <td>Judge Name (print)</td>
  </tr>
  <tr>
    <td>Judge BJCP ID</td>
  </tr>
  <tr>
    <td>Judge Email</td>
  </tr>
</table>
<table>
  <tr>
    <td colspan="3">
      Judge Qualifications and BJCP Rank:
    </td>
  </tr>
  <tr>
    <td>Apprentice</td>
    <td>Recognized</td>
    <td>Certified</td>
  </tr>
  <tr>
    <td>National</td>
    <td>Master</td>
    <td>Grand Master _</td>
  </tr>
  <tr>
    <td>Honorary Master</td>
    <td>Mead Judge</td>
    <td>Cider Judge</td>
  </tr>
  <tr>
    <td>Professional Brewer</td>
    <td>Non-BJCP</td>
    <td>Rank Pending</td>
  </tr>
</table>
<table>
  <tr>
    <td>Descriptor Definitions (Mark all that apply):</td>
  </tr>
  <tr>
    <td>Acetaldehyde - Green apple-like aroma and flavor.</td>
  </tr>
  <tr>
    <td>Alcoholic - The aroma, flavor, and warming effect of
        ethanol and higher alcohols. Sometimes described as "hot."
    </td>
  </tr>
  <tr>
    <td>Diacetyl - Aritificial butter, butterscotch, or toffee aroma
        and flavor. Sometimes perceived as a slickness on the tongue.
    </td>
  </tr>
  <tr>
    <td>DMS (dimethyl sulfide) - At low levels a sweet, cooked or
        canned corn-like aroma and flavor.
    </td>
  </tr>
  <tr>
    <td>Grassy - Aroma/flavor of fresh-cut grass or green leaves.
    </td>
  </tr>
  <tr>
    <td>Light-Struck - Similar to the aroma of a skunk.
    </td>
  </tr>
  <tr>
    <td>Metallic - Tinny, coiny, copper, iron, or blood-like flavor.
    </td>
  </tr>
  <tr>
    <td>Musty - Stale, musty, or moldy aromas/flavors.
    </td>
  </tr>
  <tr>
    <td>Oxidized - Any one or combination of winy/vinous,
        cardboard, papery, or sherry-like aromas and flavors.
    </td>
  </tr>
  <tr>
    <td>Phenolic - Spicy (clove, pepper), smoky, plastic, plactic
        adhesive strip, and/or medicinal (chlorophenolic).
    </td>
  </tr>
  <tr>
    <td>Solvent - Aromas and flavors of higher alcohols (fusel
        alcohols). Similar to acetone or lacquer thinner aromas.
    </td>
  </tr>
  <tr>
    <td>Sour/Acidic - Tartness in aroma and flavor. Can be sharp
        and clean (lactic acid), or vinegar-like (acetic acid).
    </td>
  </tr>
  <tr>
    <td>Sulfur - The aroma of rotten eggs or burning matches.
    </td>
  </tr>
  <tr>
    <td>Vegetal - Cooked, canned, or rotten vegetable aroma and
        flavor (cabbage, onion, celery, asparagus, etc.)
    </td>
  </tr>
  <tr>
    <td>Yeasty - A bready, sulfury or yeast-like aroma or flavor.
    </td>
  </tr>
</table>
Look up detailed descriptions in the BJCP vocabulary application:
<a href="http://www.bjcp.org/cep/vocab/" target="_blank">http://www.bjcp.org/cep/vocab/</a>
    </td>
    <td>
<table>
  <tr>
    <td>Category # ____ Subcategory (a-f) ____ Entry # ______</td>
  </tr>
  <tr>
    <td>Subcategory (spell out) ___________________</td>
  </tr>
  <tr>
    <td>Special Ingredients: _____________________</td>
  </tr>
  <tr>
    <td>Bottle Inspection: _ Appropriate size, cap, fill level, label removal, etc.</td>
  </tr>
  <tr>
    <td>Comments _______________________</td>
  </tr>
  <tr>
    <td>
<table>
  <tr>
    <td>Aroma (as appropriate for style)<br/>
        Comment on malt, hops, esters, and other aromatics
    </td>
    <td>______/12</td>
  </tr>
  <tr><td><textarea rows=4></textarea></td></tr>
  <tr>
    <td>Apperance (as appropriate for style)<br/>
        Comment on color, clarity, and head (retention, color, and texture)
    </td>
    <td>______/3</td>
  </tr>
  <tr><td><textarea rows=3></textarea></td></tr>
  <tr>
    <td>Flavor (as appropriate for style)<br/>
        Comment on malt, hops, fermentation characteristics, balance, finish/aftertase, and other flavor characterics
    </td>
    <td>______/20</td>
  </tr>
  <tr><td><textarea rows=5></textarea></td></tr>
  <tr>
    <td>Mouthfeel (as appropriate for style)<br/>
        Comment on body, carbonation, warmth, creaminess, astringency, and other palate sensations
    </td>
    <td>______/5</td>
  </tr>
  <tr><td><textarea rows=4></textarea></td></tr>
  <tr>
    <td>Aroma (as appropriate for style)<br/>
        Comment on overall drinking pleasure associated with entry, give suggestions for improvement
    </td>
    <td>______/10</td>
  </tr>
  <tr><td><textarea rows=6></textarea></td></tr>
</table>
    </td>
  </tr>
</table>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
<table>
  <tr>
    <td>Outstanding</td>
    <td>(45-50):</td>
    <td>World-class example of style</td>
  </tr>
  <tr>
    <td>Excellent</td>
    <td>(38-44):</td>
    <td>Exemplifies style well, requires minor fine-tuning</td>
  </tr>
  <tr>
    <td>Very Good</td>
    <td>(30-37):</td>
    <td>Generally within style parameters, some minor flaws</td>
  </tr>
  <tr>
    <td>Good</td>
    <td>(21-29):</td>
    <td>Misses the mark on style and/or minor flaws</td>
  </tr>
  <tr>
    <td>Fair</td>
    <td>(14-20):</td>
    <td>Off flavors, aromas or major style deficiencies</td>
  </tr>
  <tr>
    <td>Problematic</td>
    <td>(0 - 13):</td>
    <td>Major off flavors and aromas dominate</td>
  </tr>
</table>
    </td>
    <td>
<table class="table-bordered">
  <tr>
    <td colspan="3">Stylistic Accuracy</td>
  </tr>
  <tr>
    <td>Classic Example</td>
    <td>
      <input type="radio"/>
      <input type="radio"/>
      <input type="radio"/>
      <input type="radio"/>
      <input type="radio"/>
    </td>
    <td>Not to Style</td>
  </tr>
  <tr>
    <td colspan="3">Technical Merit</td>
  </tr>
  <tr>
    <td>Flawless</td>
    <td>
      <input type="radio"/>
      <input type="radio"/>
      <input type="radio"/>
      <input type="radio"/>
      <input type="radio"/>
    </td>
    <td>Significant Flaws</td>
  </tr>
  <tr>
    <td colspan="3">Intagibles</td>
  </tr>
  </tr>
    <td>Wonderful</td>
    <td>
      <input type="radio"/>
      <input type="radio"/>
      <input type="radio"/>
      <input type="radio"/>
      <input type="radio"/>
    </td>
    <td>Lifeless</td>
  <tr>
</table>
    </td>
  </tr>
</table>
