<script type="text/x-handlebars" data-template-name="troubleshooting-1">
<div>
Explain how the brewer gets the characteristics in his/her beer:
 <ul>
   <li>a) good head retention</li>
   <li>b) clarity in a beer</li>
   <li>c) a proper diacetyl level for style</li>
 </ul>

<table class="table table-bordered">
  <tr>
    <td>3 points</td>
    <td>Describe each characteristic.</td>
  </tr>
  <tr>
    <td>4 points</td>
    <td>Identify the causes and controls for each characteristic.</td>
  </tr>
  <tr>
    <td>3 point</td>
    <td>Identify appropriate/inappropriate styles.</td>
  </tr>
</table>
</div>
<table class="styleCompareGrid">
  <tr>
    <td></td>
    <td style="text-align: center"><strong>Good Head Retention</strong></td>
    <td style="text-align: center"><strong>Clarity</strong></td>
    <td style="text-align: center"><strong>Proper Diacetyl Level for Style</strong></td>
  </tr>
  <tr>
    <td class="gridRowLabel">DESCRIBE</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">CAUSES/CONTROLS</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">APPROPRIATE/INAPPROPRIATE STYLES</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
</table>
</script>



<script type="text/x-handlebars" data-template-name="troubleshooting-2">
<div>
What are body and mouthfeel? Explain how the brewer controls body and mouthfeel in his/her beer. Cover the following topics:

<table class="table table-bordered">
  <tr>
    <td>5 points</td>
    <td>Describe each characteristic.</td>
  </tr>
  <tr>
    <td>5 points</td>
    <td>Identify the causes and controls for both.</td>
  </tr>
</table>
</div>
<table class="styleCompareGrid">
  <tr>
    <td></td>
    <td style="text-align: center"><strong>Body</strong></td>
    <td style="text-align: center"><strong>Mouthfeel</strong></td>
  </tr>
  <tr>
    <td class="gridRowLabel">DESCRIBE</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">CAUSES/CONTROLS</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
</table>
</script>





<script type="text/x-handlebars" data-template-name="ingredients-1">
<div>
Discuss hops, describing their characteristics, how these characteristics are extracted, and at least four distinct beer styles with which the different varieties are normally associated. Address the following topics:
<table class="table table-bordered">
  <tr>
    <td>3 points</td>
    <td>Describe hop characteristics.</td>
  </tr>
  <tr>
    <td>3 points</td>
    <td>Discuss how hop characteristics are extracted.</td>
  </tr>
  <tr>
    <td>4 points</td>
    <td>Identify associated beer styles.</td>
  </tr>
</table>
</div>
<table class="styleCompareGrid">
  <tr>
    <td class="gridRowLabel">DESCRIBE</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">HOW CHARACTERISTICS EXTRACTED</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">BEER STYLES</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
</table>
</script>



<script type="text/x-handlebars" data-template-name="ingredients-2">
<div>
Explain the malting process, identifying and describing the different types of malts by their color and the flavor they impart to the beer. Give at least four distinct styles with which specific malts are associated. Address the following topics:
<table class="table table-bordered">
  <tr>
    <td>3 points</td>
    <td>Describe the malting process.</td>
  </tr>
  <tr>
    <td>3 points</td>
    <td>Identify types of malt.</td>
  </tr>
  <tr>
    <td>4 points</td>
    <td>Identify associated beer styles.</td>
  </tr>
</table>
</div>
<table class="styleCompareGrid">
  <tr>
    <td class="gridRowLabel">DESCRIBE</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">TYPES OF MALT</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">BEER STYLES</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
</table>
</script>



<script type="text/x-handlebars" data-template-name="ingredients-3">
<div>
Describe the stages of yeast development and give five distinct considerations in selecting the appropriate yeast strain for a given beer style. Address the following topics:
<table class="table table-bordered">
  <tr>
    <td>5 points</td>
    <td>Describe the stages of yeast development.</td>
  </tr>
  <tr>
    <td>5 points</td>
    <td>Provide five distinct selection considerations.</td>
  </tr>
</table>
</div>
<table class="styleCompareGrid">
  <tr>
    <td class="gridRowLabel">STAGES</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">SELECTION CONSIDERATIONS</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
</table>
</script>

<script type="text/x-handlebars" data-template-name="ingredients-4">
<div>
Discuss the importance of water characteristics in the brewing process and how water has played a role in the development of at least four distinct world beer styles. Address the following topics:
<table class="table table-bordered">
  <tr>
    <td>5 points</td>
    <td>Describe the importance of water characteristics in the brewing process.</td>
  </tr>
  <tr>
    <td>5 points</td>
    <td>Describe the role in the development of beer styles.</td>
  </tr>
</table>
</div>
<table class="styleCompareGrid">
  <tr>
    <td class="gridRowLabel">CHARACTERISTICS</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">BEER STYLE ROLE</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
</table>
</script>






<script type="text/x-handlebars" data-template-name="brewing-process-1">
<div>
  Discuss the brewing techniques and how they affect beer:
  <ul>
    <li>a) kräusening</li>
    <li>b) adding gypsum</li>
    <li>c) fining</li>
  </ul>
<table class="table table-bordered">
  <tr>
    <td>5 points</td>
    <td>Describe each characteristic.</td>
  </tr>
  <tr>
    <td>5 points</td>
    <td>Identify the effect on the finished beer.</td>
  </tr>
</table>
</div>
<table class="styleCompareGrid">
  <tr>
    <td class="gridRowLabel">CHARACTERISTICS</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">EFFECT ON BEER</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
</table>
</script>



<script type="text/x-handlebars" data-template-name="brewing-process-2">
<div>
What is meant by the terms hot break and cold break? What is happening and why are they important in brewing and the quality of the finished beer? Address the following topics:
<table class="table table-bordered">
  <tr>
    <td>3 points</td>
    <td>Describe each term.</td>
  </tr>
  <tr>
    <td>3 points</td>
    <td>Identify what is happening.</td>
  </tr>
  <tr>
    <td>4 points</td>
    <td>Identify why it is important.</td>
  </tr>
</table>
</div>
<table class="styleCompareGrid">
  <tr>
    <td></td>
    <td style="text-align: center"><strong>HOT BREAK</strong></td>
    <td style="text-align: center"><strong>COLD BREAK</strong></td>
  </tr>
  <tr>
    <td class="gridRowLabel">DESCRIBE</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">WHAT'S HAPPENING</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">WHY IMPORTANT</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
</table>
</script>



<script type="text/x-handlebars" data-template-name="brewing-process-3">
<div>
Describe and explain the role of diastatic and proteolytic enzymes in the brewing process and how they affect the characteristics of the finished beer. Address the following topics:
<table class="table table-bordered">
  <tr>
    <td>5 points</td>
    <td>Describe what they are.</td>
  </tr>
  <tr>
    <td>5 points</td>
    <td>Describe how the affect the finished beer.</td>
  </tr>
</table>
</div>
<table class="styleCompareGrid">
  <tr>
    <td></td>
    <td style="text-align: center"><strong>Diastatic Enzymes</strong></td>
    <td style="text-align: center"><strong>Proteolytic Enzymes</strong></td>
  </tr>
  <tr>
    <td class="gridRowLabel">DESCRIBE</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">EFFECT ON BEER</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
</table>
</script>



<script type="text/x-handlebars" data-template-name="brewing-process-4">
<div>
Explain what happens during the mashing process, including times and temperatures as appropriate. Describe three different mashing techniques and the advantages and disadvantages of each. Address the following topics:
<table class="table table-bordered">
  <tr>
    <td>5 points</td>
    <td>Describe the process.</td>
  </tr>
  <tr>
    <td>3 points</td>
    <td>Identify three techniques.</td>
  </tr>
  <tr>
    <td>2 points</td>
    <td>Identify advantages and disadvantages of each.</td>
  </tr>
</table>
</div>
<table class="styleCompareGrid">
  <tr>
    <td class="gridRowLabel">DESCRIBE</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
  <tr>
    <td class="gridRowLabel">TECHNIQUES/ADVANTAGES/DISADVANTAGES</td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
    <td>
      <textarea></textarea>
      <div class="answers">
      </div>
    </td>
  </tr>
</table>
</script>



