<script type="text/javascript">
jQuery(document).ready(function($){
  window.mainView = undefined;
  window.Quiz = Ember.Application.create();

  Quiz.MenuModel = Ember.Object.create({
    selectedType: 'random',
    allTemplates: {'code': 'Code',
                   'aroma': 'Aroma',
                   'appearance': 'Appearance',
                   'flavor': 'Flavor',
                   'mouthfeel': 'Mouthfeel',
                   'example': 'Example'},
    style: function(){
      var selectedType = this.get('selectedType');
      var isRandom = (selectedType === 'random');
      if(isRandom)
        return _.sample(keys(this.get('allTemplates')));
      else
        return this.get('selectedType') || 'code';
    }.property('selectedType'),
    promptTemplate: function(){
      return 'style-'+this.get('style')+'-prompt';
    }.property('style'),
    feedbackTemplate: function(){
      return 'style-'+this.get('style')+'-feedback';
    }.property('style'),
    displayType: function(){
      return this.get('allTemplates')[this.get('selectedType')] || 'Random';
    }.property('selectedType')
  });

  Quiz.Question = Ember.Object.create({
    promptView: Ember.View.extend(),
    feedbackView: Ember.View.extend(),
    answersView: Ember.View.extend({templateName: 'basicAnswers'}),
    answers: [],
    answerGuessed: undefined,
    correctAnswer: undefined,
    guessedCorrectly: function(){
      var guessed = this.get('answerGuessed')
      return guessed && guessed.get('isCorrect');
    }.property('answers','answerGuessed'),
    guessedIncorrectly: function(){
      var guessed = this.get('answerGuessed')
      return guessed && !guessed.get('isCorrect');
    }.property('answers','answerGuessed'),
    clear: function(){
      this.set('correctAnswer', undefined);
      this.set('answerGuessed', undefined);
      this.set('answers', []);
    },
    redisplay: function() {
      var self = this;
      var promptTemplate = Quiz.MenuModel.get('promptTemplate');
      var feedbackTemplate = Quiz.MenuModel.get('feedbackTemplate');
      self.set('promptView', Ember.View.extend({templateName: promptTemplate}));
      self.set('feedbackView', Ember.View.extend({templateName: feedbackTemplate}));
      if(!self.get('answersTemplate')) self.set('answersTemplate','basicAnswers');// default
      self.set('answersView', Ember.View.extend({templateName: self.get('answersTemplate')}));
      window.setMainView('multi-choice-quiz');
    },
    setup: function() {
      var self = this;
      self.clear();
      self.redisplay();
      runWithSampleStyles(5, function(stylesChosen){
        stylesChosen = _.sortBy(stylesChosen, function(x){ return x['style_name']; });
        var correctAnswer  = _.sample(stylesChosen);
        correctAnswer['isCorrect'] = true;
        self.set('correctAnswer', correctAnswer);
        self.set('answers', _.map(stylesChosen,function(x){ return self.answerOption(x); }));
      });
    },
    answerOption: function(x) {
      x['click'] = function(){
        Quiz.Question.set('answerGuessed', this);
      };
      return Ember.View.extend(x);
    }
  });

  Quiz.Question.setup();
});
</script>
<style>
  .correct{ color: green; }
</style>
<%= render :partial => 'templates' %>
<script type="text/x-handlebars" data-template-name="multi-choice-quiz">
  <div class='question'>
    {{#with Quiz.Question}}
      <table>
        <tr>
          <td colspan="2">
      {{view templateName="styleQuizTypes"}}
      {{view promptView questionBinding="this"}}
          </td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
      {{view answersView questionBinding="this"}}
          </td>
          <td style="vertical-align: top;">
            <div style="padding-left: 10px">
              {{view feedbackView  questionBinding="this"}}
              {{#if answerGuessed}}
                {{view templateName="style-overview" styleBinding="answerGuessed"}}
              {{/if}}
            </div>
          </td>
        </tr>
    {{/with}}
  </div>
</script>
