<script type="text/javascript">
jQuery(document).ready(function($){
  window.Quiz = Ember.Application.create();

  Quiz.Questions = Ember.Object.create({
    questions: [Ember.Object.create({number: 2, answer: 'aaa', question: 'qqq', correct: true})],
    numberCorrect: function(){
      return this.get('questions').filter(function(item, index, self){
        return item.get('correct');
      }).length;
    }.property(),
    points: function(){
      var correct = parseInt(this.get('numberCorrect') || 0);
      var points = parseInt(correct / 3);
      var fractionPoints = correct % 3;
      var points = (points ? String(points) : '');
      if(fractionPoints === 0){
        fractionPoints = '';
      }else{
        fractionPoints = ' '+fractionPoints+'/3';
      }
      return points + fractionPoints;
    }.property('numberCorrect'),
  });

  Quiz.Form = Ember.View.extend({
    submit: function(e){
      e.preventDefault();

    }
  });

  append(Ember.View.create({templateName: 'tf-quiz'}));

  $('.judgingTFQuiz').live('click', function(e){
    e.preventDefault();
    getJudgingTFQuiz();
  });

  $('.tfQuestionsForm').live('submit', function(e){
    e.preventDefault();
    var numberCorrect = 0;
    $(this).find('li').each(function(){
      var selectedVal   = $(this).find(':checked').val();
      var actualVal     = $(this).find('.answer').html();
      var $questionText = $(this).find('.questionText');
      if(selectedVal === actualVal){
        numberCorrect += 1;
        $questionText.css('color', 'green');
      }else{
        $questionText.css('color', 'red');
      }
    });
    updateStatus(numberCorrect);
  });

  var updateStatus = function(numberCorrect){
    var status = "You got "+numberCorrect+" out of 15 answers correct. ";
    var points = (Math.floor(numberCorrect/3)||'').toString();
    var remainder = numberCorrect % 3;
    if(remainder) points += " <sup>"+remainder+"</sup>&frasl;<sub>3</sub>";
    status += "You get "+points+" out of 5 possible points for this section.";
    $('.status').html(status);
  };

  var getJudgingTFQuiz = function(){
    var optionCount = 15;
    var judgingTF = {};
    var randomQuestions = _.sample(judgingTF, optionCount);
    var $quiz = $(Mustache.to_html(quizTemplate, {questions : randomQuestions}));
    $('.content').html($quiz);
  };
});
</script>
<script type="text/x-handlebars" data-template-name="tf-quiz">
<div class='question'>
  <span class='status'></span>
  <form class='tfQuestionsForm'>
    <ul>
{{Quiz.Questions.numberCorrect}}
{{Quiz.Questions.points}}
    {{#each Quiz.Questions.questions}}
      <li>
{{view Ember.Checkbox}}
{{view Ember.Checkbox}}
        <label><input type='radio' name='{{number}}' value='T'/>T</label>
        <label><input type='radio' name='{{number}}' value='F'/>F</label>
        <span class='answer hidden'>{{answer}}</span>
        <span class='questionText'>{{question}}</span>
      </li>
    {{/each}}
    </ul><input type='submit' value='Submit Answers'/></form>
</div>
</script>
