<script type="text/x-handlebars" data-template-name="style-overview">
<div>
{{#with style}}
  <h2>{{style_number}} {{style_name}}</h2>
  <h3>Appearance</h3>
  {{appearance}}
  <h3>Aroma</h3>
  {{aroma}}
  <h3>Flavor</h3>
  {{flavor}}
  <h3>Mouthfeel</h3>
  {{mouthfeel}}
  <h3>Overall Impression</h3>
  {{impression}}
  {{#if comments}}
    <h3>Comments</h3>
    {{comments}}
  {{/if}}
  {{#if history}}
    <h3>History</h3>
    {{history}}
  {{/if}}
  {{#if on_exam}}
  <h3>Stats</h3>
    <div>OG: {{og_low}}-{{og_high}}</div>
    <div>FG: {{fg_low}}-{{fg_high}}</div>
    {{#if ibu_low}}
      <div>IBU: {{ibu_low}}-{{ibu_high}}</div>
    {{/if}}
    <div>SRM: {{srm_low}}-{{srm_high}}</div>
    <div>{{glass srm_low}}-{{glass srm_high}}</div>
    <div>ABV: {{abv_low}}-{{abv_high}}</div>
  {{/if}}
  <h3>Commercial Examples</h3>
  {{examples}}
{{/with}}
</div>
</script>
