%a.styleNumberQuiz{:href => '#'} Style Number Quiz
%a.styleAppearanceQuiz{:href => '#'} Style Appearance Quiz
%br
%a.purposeQuiz{:href => '#'} BJCP Purpose Quiz
%a.judgingTFQuiz{:href => '#'} Judge Procedures Quiz
%br
%br
%br
-# %a.categoryNumberQuiz{:href => '#'} Category Number Quiz
.content
  Styles
  - @styles.each do |style|
    %li
      %span= style.style_number
      %span= style.style_name
      = tiny_glass_range style.srm_low, style.srm_high
