%a.styleNumberQuiz{:href => '#'} Style Number Quiz
%a.categoryNumberQuiz{:href => '#'} Category Number Quiz
.content
  Styles
  - @styles.each do |style|
    %li
      %span= style.style_number
      %span= style.style_name
      %span= style.srm_low
      %span= style.srm_high
