-# %a.categoryNumberQuiz{:href => '#'} Category Number Quiz
.content
  Styles
  - @styles.each do |style|
    %li
      %span= style.style_number
      %span= style.style_name
      = tiny_glass_range style.srm_low, style.srm_high
